<div class="wrapper">
  
  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content Wrapper -->

  <div class="content-wrapper  d-flex align-items-center">

      <div class="container">
          <div class="row justify-content-md-center">

              <div class="card mb-3" style="max-width: 800px;">
              <div class="row no-gutters">
                  <div class="col-lg-6">
                  <img src="http://pinpul-back.test/img/{{categories.imagen}}" alt="...">
                  </div>
                  <div class="col-lg-6  d-flex align-items-center">
                  <div class="card-body d-flex flex-column">
                      <h5 class="card-title mb-2 titulo">{{categories.category}}</h5>
                      <button type="submit" [routerLink]="['/admin/categorias']" class="btn btn-danger align-self-center" style="width: 10rem;">Regresar</button>
                  </div>
                  </div>
              </div>
              
              </div>

                  


              <!-- </div> -->

            </div>
        </div>

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-footerdash></app-footerdash>
</div>
  <!-- ./wrapper -->
  