input,
select{
    font-size: 1.4rem;
    height: 3rem;
}
textarea{
    font-size: 1.4rem;
}
.btn{
    font-size: 1.4rem;
}
.obligatorio{

    color: red;
    font-size: 1.8rem;
    font-weight: bold;
}