<app-navigation></app-navigation>

<div id="about-page" style="margin-top: 12rem;" class="container">


    <div class="row">

        <div style="margin-bottom: 2rem;" class="col-md-12">
            <div class="row">
                <div class="col-md-6 order-img">
                    <div class="info-img">
                        <img src="{{ rootNGIMg }}/img-nosotros.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-info">
                    <div class="info-about">
                        <h3>¿QUIÉNES SOMOS?</h3>
                        <p>PINPUL es una plataforma web que conecta proveedores con empresas y emprendedores.
                            Nuestropilar es impulsar el emprendimiento en Colombia facilitándoles la búsqueda de
                            proveedores.</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 2rem;" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-about">
                        <h3>NUESTRO ADN</h3>
                        <p>En PINPUL creemos en el emprendimiento y el proveedor integral. Nuestra misión es ser el
                            aliado que te
                            brinda las conexiones necesarias para comenzar tu proyecto.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-img">
                        <img src="{{ rootNGIMg }}/img-adn.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 2rem;" class="col-md-12">
            <div class="row">
                <div class="col-md-6 order-img">
                    <div class="info-img">
                        <img src="{{ rootNGIMg }}/img-logros.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-info">
                    <div class="info-about">
                        <h3>¿QUÉ PUEDES LOGRAR CON PINPUL?</h3>
                        <p>Encuentra el proveedor adecuado.</p>
                        <p>Elige entre cientos de proveedores.</p>
                        <p>Solicita cotizaciones y comparar precios.</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 2rem;" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-about">
                        <h3>¿PARA QUÉ LO HACEMOS?</h3>
                        <p>En PINPUL conectamos tus ideas con los mejores proveedores del mercado. Siempre de la mano
                            con tus
                            objetivos y nuestros aliados estratégicos.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-img">
                        <img src="{{ rootNGIMg }}/img-hacemos.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<app-footer></app-footer>