<app-navigation></app-navigation>
<div class="proveedores__container">

    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-12 mb-3">
                <h2 class="text-center text-uppercase mt-3 mb-3">Nosotros</h2>
            </div>
            <div class="col-md-8 mb-2">
                <h3>¿QUIÉNES SOMOS?</h3>
                <p>PINPUL es una plataforma web que conecta proveedores con empresas y emprendedores. Nuestropilar es impulsar el emprendimiento en Colombia facilitándoles la búsqueda de proveedores.</p>
            </div>

            <div class="col-md-8 mb-2">
                <h3>NUESTRO ADN</h3>
                <p>En PINPUL creemos en el emprendimiento y el proveedor integral. Nuestra misión es ser el aliado que te brinda las conexiones necesarias para comenzar tu proyecto.</p>
            </div>

            <div class="col-md-8 mb-2">
                <h3>¿QUÉ PUEDES LOGRAR CON PINPUL?</h3>
                <p>Encuentra el proveedor adecuado.</p>
                <p>Elige entre cientos de proveedores.</p>
                <p>Solicita cotizaciones y comparar precios.</p>
            </div>

            <div class="col-md-8 mb-2">
                <h3>¿PARA QUÉ LO HACEMOS?</h3>
                <p>En PINPUL conectamos tus ideas con los mejores proveedores del mercado. Siempre de la mano con tus objetivos y nuestros aliados estratégicos.</p>
            </div>

        </div>
    </div>

</div>

<app-footer></app-footer>