<app-navigation></app-navigation>
<!-- <app-breadcumbs></app-breadcumbs> -->

<!-- {{ example.img | json }}

<slider-carousel [images]="example.img"></slider-carousel>

<img [images]="{{ example.img }}" alt=""> -->

<div class="container detalle__container">
    <main>
        <div class="lds-ellipsis" id="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <div class="info__empresa--detalle">
            <div class="logo__empresa--detalle">
                <img src="{{ DIR_IMG }}/{{ proveedorID.logo }}" alt="logo marca">
            </div>
            <div class="texto__empresa--detalle">
                <h2>{{ proveedorID.provider }}<div class="empresa__detalle--premium">
                        <div class="premium__container" *ngIf="proveedorID.plan.plan == 'Premium'">
                            <i class="far fa-gem"></i>
                        </div>

                    </div>
                </h2>

                <ul class="uppercase categorias__lista">
                    <li class="cat__logo2"><span class="material-icons material-icons-outlined mt-2" >bookmark</span></li>
                    <li *ngFor="let category of categories"> <a [routerLink]="['/categorias/',category.slug]"
                            style="color: bfbfbf !important;">{{ category.category }} </a> </li>
                </ul>
                <p class="ubicacion uppercase">
                    <span class="material-icons">location_on</span> ubicación <b> {{ proveedorID.city.city }}, {{
                        proveedorID.country.country }}</b>
                </p>

            </div>

        </div>
        <div class="info__pedir">
            <!-- (click)="pedirInfoGratis()"> pedir información gratis <span class="material-icons">done</span></button> -->
            <button class="btn__verde--relleno uppercase"
                    (click)="contadorInfo(proveedorID.id)"
                    (click)="pedirInfoGratis()"> pedir información gratis <span class="material-icons">done</span></button>
            <p *ngIf="proveedorID.plan.plan == 'Premium'" class="ver__tel" (click)="ver__tel()">Ver teléfono</p>
        </div>
        <div class="popUp__infoGratis hidden" id="popUp__infoGratis">
            <div class="cerrar" (click)="pedirInfoGratis()">
                <span class="material-icons">
                    cancel
                </span>
            </div>
            <h3 class="uppercase" style="text-align: center;">Formulario de contacto</h3>
            <div>
                <form [formGroup]="formDos" (ngSubmit)="sendContactPinpul()">
                    <div class="contact__group-form">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" class="form-control" formControlName="nombre" autocomplete="name"
                            required [class.is-invalid]="nameValidate2">
                        <small *ngIf="nameValidate2" class="text-danger">Ingrese el nombre</small>
                    </div>
                    <div class="contact__group-form">
                        <label for="nombre">Nombre Empresa</label>
                        <input type="text" id="nombre" class="form-control" formControlName="company2"
                            autocomplete="organization" required [class.is-invalid]="nameValidate2">
                        <small *ngIf="nameValidate2" class="text-danger">Ingrese el nombre de la empresa</small>
                    </div>
                    <div class="contact__group-form">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email" required
                            autocomplete="email" [class.is-invalid]="emailValidate2">
                        <small *ngIf="emailValidate2" class="text-danger">Ingrese un correo valido</small>

                    </div>

                    <div class="contact__group-form">
                        <label for="tel">Teléfono</label>
                        <input type="tel" formControlName="tel" class="form-control" id="tel" required
                            autocomplete="tel" [class.is-invalid]="telValidate2">
                        <small *ngIf="telValidate2" class="text-danger">Ingrese un número teléfonico</small>
                    </div>
                    <div class="contact__group-form">
                        <label for="asunto">Solicitud</label>
                        <input type="text" formControlName="asunto2" class="form-control" id="asunto"
                            [class.is-invalid]="asuntoValidate2">
                        <small *ngIf="asuntoValidate2" class="text-danger">Ingrese una Solicitud</small>
                    </div>

                    <input type="submit" value="ENVIAR" class="contact__submit">
                </form>


            </div>

        </div>

        <div class="popUp__tel hidden" id="popUp__tel">
            <div class="cerrar" (click)="ver__tel()">
                <span class="material-icons">
                    cancel
                </span>
            </div>
            
            <div class="contact">
                <h3 class="uppercase">Información de contacto</h3>
                <p> <strong>Teléfono:</strong> </p>
                <p> <a style="color: #191919;" href="tel:{{ proveedorID.phone }}"> {{ proveedorID.phone }} </a></p>
                <div *ngIf="notpageweb">
                    <p> <strong>Página web:</strong> </p>
                    <p>{{ proveedorID.web_site }}</p>
                </div>

                <p> <strong>Correo electrónico:</strong> </p>
                <p> <a style="color: #191919;" href="mailto:{{ proveedorID.email }}"> {{ proveedorID.email }} </a></p>
                <br>
                <div *ngIf="!notsocialmedia"><h4>Redes Sociales</h4></div>
                <div class="redes__sociales">
                    <a *ngIf="nottwiter" href="{{ proveedorID.twitter_url }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a *ngIf="notfacebook" href="{{ proveedorID.facebook_url }}" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a *ngIf="notinstagram" href="{{ proveedorID.instagram_url }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a *ngIf="notlinkedin" href="{{ proveedorID.linkedin_url }}" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                </div>
            </div>

        </div>
        <div class="overwrite2 hidden2" id="over2">

        </div>
        <div *ngIf="images.length > 0" class="imagenes__detalles">
            <slider-carousel [images]="images" height="350px" max-width="600px"></slider-carousel>
        </div>
        <div class="info__contacto">
            <div class="tab" id="tab">
                <button class="tablinks uppercase" (click)="info()" id="info">INFORMACIÓN</button>
                <button class="tablinks uppercase" (click)="contacto()" id="contacto">CONTACTO</button>

            </div>
            <div *ngIf="show" id="contenInfo" class="tabcontent">
                <h3>{{ proveedorID.provider }}</h3>
                <br>
                <p>{{ proveedorID.description }}</p>

                <div *ngIf="noturlvideo">
                    <iframe width="100%" height="460" [src]="getVideoIframe(proveedorID.url_video)" frameborder="0" allowfullscreen></iframe>
                </div>

                <table *ngIf="notProducts" class="table produc" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Productos</th>
                        </tr>
                    </thead>
                    <tbody class="separar">
                        <tr>
                            <td > <ul>
                                <li *ngFor="let products5 of firt5product"><span class="lista">-</span> {{products5}}</li>

                            </ul> </td>
                        </tr>

                        <tr class="other">
                            <td> <ul>
                                <li *ngFor="let products10 of firt10product"><span class="lista">-</span> {{products10}}</li>

                            </ul> </td>
                        </tr>

                        <tr class="other">
                            <td> <ul>
                                <li *ngFor="let products15 of firt15product"><span class="lista">-</span> {{products15}}</li>

                            </ul> </td>
                        </tr>

                    </tbody>
                </table>

                <table *ngIf="notServices" class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">servicios</th>
                        </tr>
                    </thead>
                    <tbody class="separar">
                        <tr>
                            <td > <ul>
                                <li *ngFor="let service5 of firt5service"><span class="lista">-</span> {{service5}}</li>

                            </ul> </td>
                        </tr>

                        <tr class="other">
                            <td> <ul>
                                <li *ngFor="let service10 of firt10service"><span class="lista">-</span> {{service10}}</li>

                            </ul> </td>
                        </tr>

                        <tr class="other">
                            <td> <ul>
                                <li *ngFor="let service15 of firt15service"><span class="lista">-</span> {{service15}}</li>

                            </ul> </td>
                        </tr>

                    </tbody>
                </table>


                <table class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Clientes Que Atendemos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ type_clients }} </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Ciudades que atendemos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ cities }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Paises que atendemos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ countries }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <table class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Descripción de la empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proveedorID.description }}</td>
                        </tr>
                    </tbody>
                </table> -->

                <table class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Tipo de empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proveedorID.razon_social }}</td>
                        </tr>
                    </tbody>
                </table>

                <table *ngIf="notEmpleados" class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Numero de Empleados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- <td *ngIf="!notEmpleados">No hay empleados registrados</td> -->
                            <td>{{ proveedorID.nempleados }}</td>
                        </tr>
                    </tbody>
                </table>

                <table *ngIf="notdestaca" class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">La empresa se destaca</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proveedorID.details }}</td>
                        </tr>
                    </tbody>
                </table>

                <table *ngIf="notgarantia" class="table" style="width: 100%;">
                    <thead class="thead-secondary">
                        <tr>
                            <th scope="col">Garantia que ofrecemos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proveedorID.garantia }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div *ngIf="show2" id="contentContacto" class="tabcontent ">
                <div class="contenedor__form">

                    <div class="formuario__contacto">
                        <form [formGroup]="form" (ngSubmit)="sendContactProveedor()">

                            <input type="hidden" formControlName="provider_id">
                            <input type="hidden" formControlName="user_id">

                            <label for="name">Nombre Completo</label>
                            <input type="text" formControlName="full_name" required autocomplete="name"
                                [class.is-invalid]="nameValidate">
                            <small *ngIf="nameValidate" class="text-danger">Ingrese el nombre</small>

                            <label for="empresa">Nombre de la Empresa</label>
                            <input type="text" name="empresa" formControlName="company" required
                                autocomplete="organization" [class.is-invalid]="nameEmpresaValidate">
                            <small *ngIf="nameEmpresaValidate" class="text-danger">Ingrese el nombre de la
                                empresa</small>


                            <label for="email">Email</label>
                            <input type="email" name="email" formControlName="email" required autocomplete="email"
                                [class.is-invalid]="emailValidate">
                            <small *ngIf="emailValidate" class="text-danger">Ingrese un correo valido</small>

                            <label for="telefono">Número Telefónico</label>
                            <input type="tel" name="telefono" formControlName="phone" required autocomplete="tel"
                                [class.is-invalid]="telValidate">
                            <small *ngIf="telValidate" class="text-danger">Ingrese un número teléfonico</small>

                            <label for="asunto">Asunto</label>
                            <input type="text" formControlName="asunto" id="asunto"
                                [class.is-invalid]="asuntoValidate">
                            <small *ngIf="asuntoValidate" class="text-danger">Ingrese un asunto</small>



                            <button type="submit" class="btn__verde--relleno enviar">Enviar <span
                                    class="material-icons">send</span></button>
                        </form>


                    </div>
                </div>
            </div>


        </div>
    </main>
    <aside>
        <h2 *ngIf="proveedorID.plan.plan != 'Premium'">Proveedores de tu interés</h2>
        <div *ngIf="proveedorID.plan.plan != 'Premium'">
            <div *ngFor="let interes of proveedoresInteres" class="card">
                <a [routerLink]="['/proveedor', interes.slug]">
                    <img class="card__img" src="{{ DIR_IMG }}/{{ interes.logo }}" alt="">
                </a>
                <div class="card__texto">
                    <h3 class="card__title">{{ interes.provider }}</h3>
                    <div class="card__category-views">
                        <div class="card__tags-categories" (click)="mostrar()">
                            <span class="material-icons">
                                bookmark_border
                            </span>
                            <h4 class="top-services__name-category">Categories</h4>
                        </div>
                        <div class="card__tags-views">
                            <span class="material-icons material-icons-outlined">
                                visibility
                            </span>
                            <h4 class="top-services__count-view">{{ interes.views }}</h4>
                        </div>
                    </div>
                    <div class="categoria_lista" id="categoria_lista">
                        <ul>
                            <li><span class="punto__verde">•</span>Lorem </li>
                            <li><span class="punto__verde">•</span>Lorem Ipsum</li>
                            <li><span class="punto__verde">•</span>Lorem Ipsum</li>
                            <li><span class="punto__verde">•</span>Lorem Ipsum</li>
                            <li><span class="punto__verde">•</span>Lorem Ipsum</li>
                        </ul>
                        <span class="material-icons material-icons-outlined" (click)="cerrar()">
                            close
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="prom">

            <div *ngIf="promotions.length > 0">
                <h2>Promociones</h2>
                <owl-carousel-o class="customOptions" [options]="customOptions" *ngIf="proveedorID.plan.plan == 'Premium'">
                    <ng-template *ngFor="let promotion of promotions" carouselSlide>
                        <div class="card" *ngIf="proveedorID.plan.plan == 'Premium'">
                            <img class="card__img" src="{{ DIR_IMG }}/{{ promotion.image }}" alt="promociones">
                            <div class="card__texto">
                                <h3 class="card__title">{{ promotion.title }}</h3>
                                <p class="promo__text">{{ promotion.description }}</p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
                

        </div>

    </aside>
</div>
<app-footer></app-footer>