<app-navigation></app-navigation>

<section class="container preguntas">
    <h1>Preguntas Frecuentes</h1>
    <div class="texto__container">  
        <ul>
            <li class="pregunta"><b>Nuestros planes</b><br>
                <ul>
                    <li class="item__respuesta"><span class="punto__verde">•</span>Free: <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur animi fuga quidem nemo! Sed, alias vitae aperiam cum illum maxime</li>
                    <li><span class="punto__verde">•</span>Premium: <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt deleniti quo beatae velit temporibus, optio totam rerum, nam omnis suscipit sint soluta? Eveniet magni at quisquam aspernatur praesentium maiores.</li>
                    
                </ul>
            </li>
            <li class="pregunta"><b>Ventajas de ser Premium</b><br>
                <ul>
                    <li class="item__respuesta"><span class="punto__verde">•</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur animi fuga quidem nemo! Sed, alias vitae aperiam cum illum maxime</li>
                    <li><span class="punto__verde">•</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt deleniti quo beatae velit temporibus, optio totam rerum, nam omnis suscipit sint soluta? Eveniet magni at quisquam aspernatur praesentium maiores.</li>
                    
                </ul>
            </li>
            <li class="pregunta"><b>¿Por qué Pinpul?</b><br>
                <ul>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dicta, quod quos repudiandae dolorem alias nisi labore autem quisquam numquam pariatur assumenda vero sunt esse error nulla. Consectetur, tenetur voluptas.
                    
                </ul>
            </li>
        </ul>
    </div>
</section>


<app-footer></app-footer>