
<div class="wrapper">
  
  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content Wrapper -->

  <div class="content-wrapper">

      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col col-lg-6 mt-5">

                  <!-- {{ formData | json }}               -->
                  <form id="quickForm" [formGroup]="form" (ngSubmit)="add_promotion()" enctype="multipart/form-data">
                      
                      <div class="form-group">
                          <label for="exampleFormControlFile1">Ingrese la imagen</label>
                          <input type="file" formControlName="image" (change)="uploadImage($event)" class="form-control-file" id="exampleFormControlFile1"
                          [class.is-invalid]="imagenValidate" autocomplete="text">
                          <small *ngIf="imagenValidate" class="text-danger">Ingresa una imagen</small>
                      </div>

                      
                      <div class="form-group">
                          <label for="title">Ingrese el titulo</label>
                          <input type="text" class="form-control" id="title"
                          formControlName="title"
                          [class.is-invalid]="titleValidate" autocomplete="text">
                          <small *ngIf="titleValidate" class="text-danger">Ingresa el titulo</small>
                      </div>

                      <div class="form-group">
                          <label for="exampleFormControlTextarea1">Descripción</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                          formControlName="description"
                          [class.is-invalid]="descriptionValidate" autocomplete="text"></textarea>
                          <small *ngIf="descriptionValidate" class="text-danger">Ingresa la descripcion</small>
                      </div>

                      <div class="form-group">
                          <label for="discount">Descuento</label>
                          <input type="number" class="form-control" id="discount"
                          formControlName="discount"
                          [class.is-invalid]="discountValidate" autocomplete="text">
                          <small *ngIf="discountValidate" class="text-danger">Ingresa el descuento</small>
                      </div>

                      <div class="form-group">
                      
                          <label for="date">Ingrese el inicio de la promoción</label>
                          <input type="date" id="date" class="form-control"
                          formControlName="start_promotion"
                          [class.is-invalid]="startpromotionValidate">
                          <small *ngIf="startpromotionValidate" class="text-danger">Ingresa el inicio de la promoción</small>

                      </div>

                      <div class="form-group">
                      
                          <label for="date1">Ingrese el fin de la promoción</label>
                          <input type="date" id="date1" class="form-control"
                          formControlName="end_promotion"
                          [class.is-invalid]="endpromotionValidate">
                          <small *ngIf="endpromotionValidate" class="text-danger">Ingresa el fin de la promoción</small>

                      </div>

                      <div class="form-group">
                          <label for="selectstate">Estado promoción</label>
                          <select class="form-control" id="selectstate" formControlName="status"  [class.is-invalid]="statusValidate">
                          
                          <option >activo</option>
                          <option >inactivo</option>
                          
                          </select>
                          <small *ngIf="statusValidate" class="text-danger">Ingrese activo o inactivo</small>
                      </div>


                      <button type="submit" class="btn btn-primary">Enviar</button>
                      <button type="submit" [routerLink]="['/admin/promotions']" class="btn btn-danger ml-4">Regresar</button>
                  </form>

              </div>

          </div>
      </div>

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-footerdash></app-footerdash>

</div>
  <!-- ./wrapper -->
  
