<div class="wrapper">
  
  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content Wrapper -->

  <div class="content-wrapper">

      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col col-lg-12 mt-5">
                <div class="btn__container">

                  <!-- <button type="button" class="btn btn-primary btn-lg mb-5 boton__add" [routerLink]="['/admin/Roles/add-role']">Añadir Rol</button> -->
                </div>

                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Roles</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <table class="table">
                          <thead>
                            <tr>
                              <th style="width: 10px">#</th>
                              <td align="center" style="font-weight: bold">Roles</td>
                              <td align="center" style="font-weight: bold">Componentes</td>
                            </tr>
                          </thead>

                          <tbody *ngFor="let role of roles">
                            <tr>
                              <td>{{role.id}}</td>
                              <td align="center">{{role.name}}</td>
                              <td align="center">
                                <button type="button" class="btn btn-primary mr-2" [routerLink]="['/admin/Roles/edit-role', role.id]"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" (click)="deleteRole(role.id)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </tr>
                          </tbody>

                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>

              
              </div>

            </div>
        </div>

  </div>
  <!-- /.content-wrapper -->
  
  
  <!-- Main Footer -->
  <app-footerdash></app-footerdash>

</div>
  <!-- ./wrapper -->
  