<app-navigation></app-navigation>
<div class="contenedor__blog container">
    <main class=" main__blog">
        <div class="back"><a [routerLink]="['/blog/']" ><span class="material-icons material-icons-outlined">
            arrow_back
            </span></a></div>
        <h2 >Titulo Blog</h2>
        <div class="texto__blog ">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus excepturi ullam tempore, sed ex, a quos et enim harum eos consequatur molestias numquam sapiente. Magnam id provident blanditiis asperiores dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae tenetur dolorem iste dignissimos laboriosam. Aliquam itaque a et minima, cum molestias excepturi, aliquid porro, unde sit qui possimus corporis.lorem </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus excepturi ullam tempore, sed ex, a quos et enim harum eos consequatur molestias numquam sapiente. Magnam id provident blanditiis asperiores dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores. </p>
            <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus excepturi ullam tempore, sed ex, a quos et enim harum eos consequatur molestias numquam sapiente. Magnam id provident blanditiis asperiores dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae tenetur dolorem iste dignissimos laboriosam. Aliquam itaque a et minima, cum molestias excepturi, aliquid porro, unde sit qui possimus corporis.lorem </p> -->
            <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus excepturi ullam tempore, sed ex, a quos et enim harum eos consequatur molestias numquam sapiente. Magnam id provident blanditiis asperiores dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae tenetur dolorem iste dignissimos laboriosam. Aliquam itaque a et minima, cum molestias excepturi, aliquid porro, unde sit qui possimus corporis.lorem </p> -->
        </div>
        <div class="imagen_principal--blog ">
            <img src="{{ rootNGIMg }}/at_01.jpg" alt="imagen blog" class="responsive-img">
        </div>
        

    </main>
      
</div>