
<div class="wrapper">

  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content Wrapper -->

  <div class="content-wrapper">

      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col col-lg-6 mt-5">
                
                  <form [formGroup]="form" (ngSubmit)="updateRole()">
                      <div class="form-group">
                        <label for="id">Indique el Role</label>
                        <input type="text"
                                class="form-control"
                                formControlName="name"
                                [class.is-invalid]="roleValidate"
                                id="id"
                                value="{{rolesID.name}}">
                        <small *ngIf="roleValidate" class="text-danger">Ingrese el Role</small>
                      </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="submit" [routerLink]="['/admin/Roles']" class="btn btn-danger ml-4">Regresar</button>
                    </form>

              
              </div>

            </div>
        </div>

  </div>
  <!-- /.content-wrapper -->
  
  <!-- Main Footer -->
  <app-footerdash></app-footerdash>


</div>
  <!-- ./wrapper -->
  