<div class="nav-component">
    <!-- <div class="menu-mobile">

    </div> -->

    <div id="menu-nav-mobile">

        <div class="row-close">
            <span class="material-icons material-icons-outlined" (click)="closeMenuNavMobile()">close</span>
        </div>

        <div class="usuario__aside">
            <div class="usuario__avatar">
                <img src="{{ rootNGIMg }}/avatar5.png" alt="foto usuario">
            </div>
            <div class="usuario__nombre">
                <p class="uppercase">Nombre de usuario</p>
            </div>
        </div>

        <div class="">
            <ul class="content-items-mobile">
                <li class="content-items-mobile__li">
                    <a class="content-items-mobile__a" id="categoriesMobile" (click)="openCategoriesMobile()">categorías</a>
                    <ul class="content-subitems-mobile">
                        <li class="content-subitems-mobile__li" *ngFor="let category of categories">
                            <a (click)="closeMenuNavMobile()" class="content-subitems-mobile__a" [routerLink]="['/categorias/', category.slug]">
                                <span class="punto__verde">•</span>
                                {{ category.category }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li> <a class="content-items-mobile__a" href="#contacto"> contáctenos </a> </li> 
                <li> <a class="content-items-mobile__a" routerLink='/nosotros/'> Nosotros</a></li>
                <li> <a class="content-items-mobile__a" routerLink='/blog/'>Blog</a> </li>
            </ul>
        </div>
    </div>

    <div class="menu-desktop">

        <div id="logo">
            <a routerLink='/home/'>
                <img src="{{ rootNGIMg }}/logos/1080x1080_simbolo.png" alt=" logo pinpul" class="logo-pinpul-mobile">
            </a>

            <a routerLink='/home/'>
                <img src="{{ rootNGIMg }}/logos/logo_horizontal.png" alt=" logo pinpul" class="logo-pinpul-desktop">
            </a>
        </div>

        <div id="buscador">
            <input type="text" placeholder="Buscar proveedor...">
        </div>

        <div id="items-nav">
            <ul>
                <li>
                    <a routerLink="#">
                        Categorías
                        <div class="content-subitems-nav">
                            <ul class="subitems-nav">
                                <li *ngFor="let category of categories">
                                    <a [routerLink]="['/categorias/', category.slug]">
                                        <span class="punto__verde">•</span>
                                        {{ category.category }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li><a routerLink='/nosotros/'>nosotros</a></li>
                <li><a routerLink='/blog/'>blog</a></li>
                <li><a routerLink='/login/'>Login</a></li>
            </ul>
        </div>

        <div class="options-menu-mobile">
            <span class="material-icons material-icons-outlined" (click)="openMenuMobile()">more_vert</span>
        </div>

    </div>
</div>


<!-- <div class="nav__container container">

    <header>

        <div class="aside__menu animacionEntrada" id="aside__menu">
            <span class="material-icons material-icons-outlined" id="close__aside" (click)="asideCerrar()">
                close
            </span>
            <div class="logo__aside">
                <a routerLink='/home/'><img src="{{ rootNGIMg }}/logos/logo_horizontal.png" alt="Logo empresa"></a>

            </div>
            <div class="usuario__aside">
                <div class="usuario__avatar">
                    <img src="{{ rootNGIMg }}/avatar5.png" alt="foto usuario">
                </div>
                <div class="usuario__nombre">
                    <p class="uppercase">Nombre de usuario</p>
                </div>

            </div>
            <div class="navegacion__aside">
                <ul class="uppercase">
                    <li (click)="catMenuAsideAbrir()" id="cat__con--aside">categorías
                        <div class="menu__cat menu__cat--aside hidden" id="menu__cat--aside">
                            <ul>
                                <li *ngFor="let category of categories" class="item__menu--cat">
                                    <a [routerLink]="['/categorias/', category.slug]">
                                        <span class="punto__verde">•</span>
                                        {{ category.category }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLink='/'>contáctenos</li>
                    <li routerLink='/nosotros'>Nosotros</li>
                    <li><a routerLink='/blog/'>Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="overwrite" id="overwrite">

        </div>



        <div class="header container">
            <div class="logo__header">

                <a routerLink='/home/'>
                    <img src="{{ rootNGIMg }}/logos/1080x1080_simbolo.png" alt=" logo pinpul" class="logo-pinpul-mobile">
                </a>

                <a routerLink='/home/'>
                    <img src="{{ rootNGIMg }}/logos/logo_horizontal.png" alt=" logo pinpul" class="logo-pinpul-desktop">
                </a>
            </div>
            <div class="buscar__nav">
                <div class="barra__buscar" id="barra__buscar">
                    <input type="search" placeholder="Buscar proveedor..."><span
                        class="material-icons material-icons-outlined">search</span>
                </div>
                <span class="material-icons material-icons-outlined menu__puntos hide-on-large-only oculto__escritorio"
                    (click)="asideVer()">more_vert</span>
                <div class="navegacion">
                    <ul class="uppercase">
                        <li class="hide-on-med-and-down oculto__movil cat__con" id="cat__con" (click)="clickBody()">
                            categorías
                            <div class="menu__cat hidden" id="menu__cat">
                                <ul>
                                    <li *ngFor="let category of categories" class="item__menu--cat">
                                        <a [routerLink]="['/categorias/', category.slug]">
                                            <span class="punto__verde">•</span>
                                            {{ category.category }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="hide-on-med-and-down oculto__movil"><a href="#contacto">contáctenos</a></li>
                        <li class="hide-on-med-and-down oculto__movil">
                            <a routerLink='/nosotros'>Nosotros</a>
                        </li>
                        <li class="hide-on-med-and-down oculto__movil"><a [routerLink]="['/blog/']">Blog</a></li>
                        <li *ngIf="!showuser" class="hide-on-med-and-down oculto__movil"><a routerLink='/login/'>login
                                <span class="material-icons">person</span></a></li>
                        <li *ngIf="showuser" class="hide-on-med-and-down oculto__movil"> <span
                                [routerLink]="['/admin/dashboard']" class="material-icons material-icons-outlined">
                                settings
                            </span></li>


                        <li *ngIf="showuser" class="hide-on-med-and-down oculto__movil nopointer welcome">
                            <p>Bienvenido <b>{{ localUserName }}</b> </p>
                        </li>

                        <li *ngIf="showuser" class="hide-on-med-and-down oculto__movil avatar nopointer"><img
                                src="{{ rootNGIMg }}/avatar5.png" alt="usuario"></li>
                        <li *ngIf="showuser" class="hide-on-med-and-down oculto__movil">
                            <div class="logout" (click)="logout()">
                                <span class="material-icons material-icons-outlined">
                                    logout
                                </span>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </header>
</div> -->