
<div class="wrapper">

  <app-sidebar></app-sidebar>
  <app-header></app-header>

  <!-- Content Wrapper -->

  <div class="content-wrapper">

      <div class="container">
          <div class="row justify-content-md-center">
              <div class="col col-lg-6 mt-5">
                
                  <form [formGroup]="form" (ngSubmit)="addRole()">
                      <div class="form-group">
                        <label for="id">Indique el Role</label>
                        <input type="text"
                                class="form-control"
                                formControlName="name"
                                [class.is-invalid]="roleValidate"
                                id="id">
                        <small *ngIf="roleValidate" class="text-danger">Ingrese el Role</small>
                      </div>

                      <p><strong>Permisos:</strong></p>

                      <div class="form-check form-check-inline" *ngFor="let permiso of permisos">
                        <input class="form-check-input" type="checkbox" (change)="choosePermiso($event)" value="{{ permiso.id }}">
                        <label class="form-check-label">{{ permiso.name }}</label>
                      </div>
                      
                    <div class="mb-4">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                      <button type="submit" [routerLink]="['/admin/Roles']" class="btn btn-danger ml-4">Regresar</button>

                    </div>

                    </form>

              
              </div>

            </div>
        </div>

  </div>
  <!-- /.content-wrapper -->


  
  <!-- Main Footer -->
  <app-footerdash></app-footerdash>

</div>
  <!-- ./wrapper -->
  