<app-navigation></app-navigation>

<!-- <section class="blog__main container">
    <h2>Blog Pinpul</h2>
    <div *ngFor="let article of articles" class="blog2 contenedor ">
        <div class="imagen__blog2">
            <img src="{{ rootImage }}/{{ article.imagen }}" alt="Imagen del blog" >
        </div>
        <div class="texto__blog2">
            <h3>{{ article.title }}</h3>
            {{ article.content }}
            <a class="waves-effect waves-light btn cyan lighten-1" [routerLink]="['/vista-blog/']">Leer mas</a>
        </div>
    </div>
</section> -->


<section class="section-blog" class="container mt-7">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-uppercase mb-2">Blog Pinpul</h2>
        </div>
        <div *ngFor="let article of articles" class="col-md-4">
            <div>
                <img src="{{ rootImage }}/{{ article.imagen }}" alt="Imagen del blog" >
            </div>
            <div>
                <h3 class="text-uppercase">{{ article.title }}</h3>
                <div [innerHTML]="article.content"></div>
                <a class="waves-effect waves-light btn cyan lighten-1" [routerLink]="['/vista-blog/']">Leer mas</a>
            </div>
        </div>
    </div>
</section>