<app-navigation></app-navigation>

<section class="blog__main container">
    <h2>Blog Pinpul</h2>
    <div class="blog2 contenedor ">
        <div class="imagen__blog2">
            <img src="{{ rootNGIMg }}/at_01.jpg" alt="Imagen del blog" >
        </div>
        <div class="texto__blog2">
            <h3>Titulo del blog</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corrupti placeat voluptatem </p>
            <a class="waves-effect waves-light btn cyan lighten-1" [routerLink]="['/vista-blog/']">Leer mas</a>
        </div>
    </div>
    <div class=" blog2 contenedor ">
        <div class="imagen__blog2 imagen__blog--par">
            <img src="{{ rootNGIMg }}/at_01.jpg" alt="Imagen del blog" >
        </div>
        <div class="texto__blog2 texto__blog--par">
            <h3>Titulo del blog</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corrupti placeat voluptatem </p>
            <a class="waves-effect waves-light btn cyan lighten-1" [routerLink]="['/vista-blog/']">Leer mas</a>
        </div>
    </div>
    <div class="blog2 contenedor ">
        <div class="imagen__blog2">
            <img src="{{ rootNGIMg }}/at_01.jpg" alt="Imagen del blog" >
        </div>
        <div class="texto__blog2">
            <h3>Titulo del blog</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corrupti placeat voluptatem </p>
            <a class="waves-effect waves-light btn cyan lighten-1" [routerLink]="['/vista-blog/']">Leer mas</a>
        </div>
    </div>
</section>